.reveal .slides {
  font-size: 1.4em;
}

.reveal .slides h2 {
  font-size: 1.6em;
}

.reveal .slides code {
  font-size: 1.1em;
}

.reveal .slides pre code {
  font-size: 1.15em;
  line-height: 1.4;
}

.reveal .slides table {
  font-size: 1.0em;
}

.reveal blockquote {
  font-size: 1.1em;
}
